<div id="secao1-box">
    <div id="secao1-box-texto"> <label> Get even more games </label> <label> Buy more of your favorite games. No subscription needed. </label> </div>
    <div id="secao1-box-games">
        <div class="card-jogo-pro"> <img class="imagem-jogo-pro" src="" /> <img id="jogo-label-pro" src="https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_pro_cutout.png" /> </div>
        <div class="card-jogo-pro"> <img class="imagem-jogo-pro" src="" /> <img id="jogo-label-pro" src="https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_pro_cutout.png" /> </div>
        <div class="card-jogo-pro"> <img class="imagem-jogo-pro" src="" /> <img id="jogo-label-pro" src="https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_pro_cutout.png" /> </div>
        <div class="card-jogo-pro"> <img class="imagem-jogo-pro" src="" /> <img id="jogo-label-pro" src="https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_pro_cutout.png" /> </div>
        <div class="card-jogo-pro"> <img class="imagem-jogo-pro" src="" /> <img id="jogo-label-pro" src="https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_pro_cutout.png" /> </div>
        <div class="card-jogo-pro"> <img class="imagem-jogo-pro" src="" /> <img id="jogo-label-pro" src="https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_pro_cutout.png" /> </div>
    </div>
    <div id="secao1-box-botao"> <button> Show all games </button> </div>
</div>
