<div id="topo-box">
    <img id="topo-imagem-fundo" src="https://www.gstatic.com/stadia/gamers/landing_page/assets/v2_static_hero-trimmed.jpg"/>
    <div id="topo-caixa-superior">
        <div id="topo-caixa-superior-esquerdo"></div>
        <div id="topo-caixa-superior-direito"></div>
    </div>
    <div id="topo-caixa-meio">
        <div id="topo-caixa-meio-cima"><h2>Play on us.</h2><p>Get instant access to a collection of games with a 1 month Stadia Pro trial.</p></div>
        <div id="topo-caixa-meio-meio"><button>Try Now</button></div>
        <div id="topo-caixa-meio-baixo"> <p> US$ 9,99/mo¹ charged automatically after trial period expires. Cancel anytime².Subscription auto-renews unless cancelled. Visit /stadia/subscriptions. Terms Apply. </p> </div>
    </div>
</div>
